{{!-- <div>
<button class="btn btn-light" onclick="window.location.href='http://localhost:8080/chat/'">Chat</button>
<button class="btn btn-light" onclick="window.location.href='http://localhost:8080/api/carts/646edc7fe82ae1241a0fe150'">Carrito</button>
<button class="btn btn-light" onclick="window.location.href='http://localhost:8080/api/products/'">Productos</button>
<button class="btn btn-light" onclick="window.location.href='http://localhost:8080/api/products/realtimeproducts'">Realtimeproducts</button>
</div> --}}

<div>
    <button onclick="window.location.href='/api/sessions/profile'">Perfil</button>
    <button onclick="window.location.href='/chat/'">Chat</button>
    <button onclick="window.location.href='/api/carts/646edc7fe82ae1241a0fe150'">Carrito</button>
    <button onclick="window.location.href='/api/products/'">Productos</button>
    <button onclick="window.location.href='/api/products/realtimeproducts'">Realtimeproducts</button>
</div>