<div class="form-signin container d-flex justify-content-center" style="max-width:450px; height:100vh">
    <form method="post" action="/api/users/{{id}}/resetpassword" class="register-form align-self-center border rounded-3 p-4 w-100" >
        <h2 class="h4 mb-3 fw-normal text-danger">{{message}}</h2>
        <br/>
        <h1 class="h3 mb-3 fw-normal">Nueva Contraseña</h1>
        <div class="form-floating mb-2">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" />
            <label for="floatingPassword">Password</label>
        </div>
        <br/>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Modificar</button>
        <p class="mt-5 mb-3 text-body-secondary">© coder-backend</p>
    </form>
</div>