*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    font-family: sans-serif;
    font-size: 0.8rem;
}
/* material UI form */
form{
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
/* form label */
label{
    font-weight: bold;
}
/* form input */
input{
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}
ul{
    margin:2rem;
}
ul li{
    list-style: none;
    margin-bottom: 0.5rem;
    background-color: white;
    padding: 10px;
    border-radius: 0.25rem;
}

/* MUI Button */
button{
    padding: 6px;
    border: none;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
